.spot {
  border: 5px solid #EFDC05;
  height: 75px;
  width: 75px;
  border-radius: 50%;
  background-color: #fff;
  padding-top: 20px;
}

.board {
  border: 5px solid #EFDC05;
  display: inline-block;
  background-color: #EFDC05;
  border-radius: 5px;
}

.row {
  margin: 0px;
}

.Red {
  background-color: #E53A40;
}

.Blue {
  background-color: #30A9DE;
}

.drop {
  width: 75px;
  height: 36px;
}

.RedDrop {
  color: #E53A40;
}

.BlueDrop {
  color: #30A9DE;
}

.faDisabled {
  color: #999;
}

.message {
  width: 535px;
}